@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    padding:0;
    margin: 0;
    border-style: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

#body {
    background:black;
    position: absolute;
    width:100%;
    height:100%;
}

#bgimg {
    position: absolute;
    top:20%;
    left:5%;
}

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    padding: 20px;
    text-align: center;
  }


.newgame {
    position: relative;
    height: auto;
    background-color: transparent;
    text-align: center;
    margin-top: 10vh;
    color:yellow;
    font-size: 172px;
    text-shadow: #000 10px 0 5px;
}



.newgame #score {
    font-size: 32px;
    
}

.newgame #gamelogo{
    font-family: 'Lobster Two', cursive;
    letter-spacing: 10px;
}




.newgame input[type=submit]#launcher {
    width:10vw;
    height:10vh;
    border-radius: 14px;
    border-color: transparent;
    outline: none;
    position: relative;
    opacity: 0;
    z-index: 2;
}

.newgame input[type=submit]#fakelauncher {
    width:10vw;
    height:10vh;
    border-radius: 14px;
    border-color: transparent;
    background-color: rgb(245, 252, 253);
    color: black;
    font-size: 1.5vw;
    outline: none;
    position: absolute;
    bottom:5vh;
    left:45vw;
}

.newgame input[type=submit]#launcher:hover ~ #fakelauncher {
    background-color: rgb(208, 255, 0);
    color: white;
    outline: none;
}

.newgame input[type=submit]#launcher:active ~ #fakelauncher {
    background-color: rgb(0, 0, 0);
    opacity:0;
    color: black;
    outline: none;
}

.light {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#show_score {
    position:absolute;
    bottom:30px;
    right:50px;
    color: yellow;
    font-size: 24px;
}

.newgame p {
    font-size: 24px;
}